

form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
form .group input{
    padding: 15px;
}
form .group{
    margin-top: 16px;
}
form .group button{
    width: 100%;
    padding: 10px;
    background-color: #3498db;
}

.email-signup .message {
    display: none;
}
.email-signup .active {
    display: block;
}